bin/**
gen/**
build/**
test/build/**
test/reports/**
out/**
.idea/**
.classpath
.project
local.properties
.DS_Store
.settings/org.eclipse.jdt.core.prefs
proguard/dump.txt
proguard/mapping.txt
proguard/seeds.txt
proguard/usage.txt
*~
deals.apk
test/build/com/livingsocial/android/activities/test/
tmp/cached-robolectric-classes.jar
*/.DS_Store
push/airshipconfig.properties
nohup.out
temp.json